<!--  <th:block th:replace="/template/fragments/all/footer.html></th:block>  -->

<footer>
    <div class="footer_in">
        <div class="footer_buttons">
            <button type="button"><span>이용약관</span></button>
            <button type="button"><span>개인정보<br>처리방침</span></button>
            <button type="button"><span>저작권<br>보호정책</span></button>
        </div>
    <div class="footer_contents">
        <h2 id="footer_logo">
            <img src="/static/images/footer.png">
        </h2>
        <p><span>(12345) 부산광역시 사상구 사상로310번길 33(덕포동) 전화 051-123-4567 / 팩스 010-000-0000</span>
            <br>
            Copyright © Korea Metropolitan Library, All rights reserved.</p>
        </div>
    </div>
</footer>