<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공용</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/reset2.css">

</head>
<body>
    <div id="container">
        <!--상단-->
        <header>    
            <div id="User_header">
                <ul class="User_header_List">
                    <li><a href="../../templates/user/login.html">로그인</a></li><span>&#124;</span>
                    <li><a href="../../templates/user/singup.html">회원가입</a></li><span>&#124;</span>
                    <li><a href="../../templates/user/login.html">마이페이지</a></li>
                </ul>
            </div>   
            <div class="mainMenu_List">
            <h1 id="logo">
                <img src="/static/images/logo.jpg">
            </h1>
            <nav>
                <ul class="mainMenu">
                        <li>
                        <a href="../../templates/Oepn/notice.html">열린공간</a>
                            <ul class="subMenu">
                                <li><a href="../../templates/Open/notice.html">공지사항</a></li>
                                <li><a href="../../templates/Open/bulletin.html">자유게시판</a></li>
                                <li><a href="../../templates/Open/qAndA.html">Q&A</a></li>
                            </ul>
                        </li>
                        <li>
                        <a href="../../templates/book/bookselect.html">자료검색</a>
                            <ul class="subMenu">
                                <li><a href="../../templates/book/newbook.html">신간도서</a></li>
                                <li><a href="../../templates/book/bestbook.html">인기도서</a></li>
                            </ul>
                        </li>
                        <li>
                        <a href="../../templates/Guide/Lib_direction.html">도서관 안내</a>
                            <ul class="subMenu">
                                <li><a href="../../templates/Guide/Lib_direction.html">찾아오시는길</a></li>
                                <li><a href="../../templates/Guide/Facility Status.html">시설현황</a></li>
                                <li><a href="../../templates/Guide/Info_Use.html">이용안내</a></li>
                            </ul>
                        </li>
                        <li>
                        <a href="../../templates/Lib/LoanBook.html">내 서재</a>
                            <ul class="subMenu">
                                <li><a href="../../templates/Lib/LoanBook.html">대여도서</a></li>
                                <li><a href="../../templates/Lib/lateBook.html">연체도서</a></li>
                                <li><a href="../../templates/Lib/reservation.html">예약도서</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    </header>
        
        <div class="main_img">
            <img src="/static/images/wood-2045379_1920.jpg" alt="">
            <div class="menu">
                <h2>타이틀</h2>
            </div>
        </div>
        <!--메인-->
        <section id="main">
            <div class="main_all">
                <div class="main_h">
                    <div class="select_bar">
                        <ul>
                            <li><a href="#"><span>메인메뉴</span></a></li>
                            <li><a href="#">목록1</a></li>
                            <li><a href="#">목록2</a></li>
                            <li><a href="#">목록3</a></li>
                            <li><a href="#">목록4</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main_m">
                    <div class="top_box">
                        <div class="top_bar">
                            <ul>
                                <li class="home_i"><img src="/static/images/home.png" alt=""></li>
                                <li>><a href=""><span>목록</span></a></li>
                                <li>>><a href=""><span>목록</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contents">
                        여기내용삽입
                    </div>
                </div>
            </div>
        </section>
        <!--하단-->
    <footer>
        <div class="footer_in">
            <div class="footer_buttons">
                <button type="button"><span>이용약관</span></button>
                <button type="button"><span>개인정보<br>처리방침</span></button>
                <button type="button"><span>저작권<br>보호정책</span></button>
            </div>
        <div class="footer_contents">
            <h2 id="footer_logo">
                <img src="/static/images/footer.png">
            </h2>
            <p><span>(12345) 부산광역시 사상구 사상로310번길 33(덕포동) 전화 051-123-4567 / 팩스 010-000-0000</span>
                <br>
                Copyright © Korea Metropolitan Library, All rights reserved.</p>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>