<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="/all/head"></th:block>
<title>도서 검색</title>
<link rel="stylesheet" href="/static/css/book/bookselect.css">
<script src="https://kit.fontawesome.com/6786e3c387.js" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div id="container">
        <!--상단-->
<th:block th:replace="/all/header"></th:block> 
        
        <div class="main_img">
            <img src="/static/images/wood-2045379_1920.jpg" alt="">
            <div class="menu">
                <h2>자료 검색</h2>
            </div>
        </div>
        <!--메인-->
        <section id="main">
            <div class="main_h">
                <div class="select_bar">
                    <ul>
                        <li><a href="/book/bookselect" class="focus"><span>자료 검색</span></a></li>
                        <li><a href="/book/bestbook">인기 도서</a></li>
                        <li><a href="/book/newbook">신간 도서</a></li>
                    </ul>
                </div>
            </div>
            <div class="main_m">
                <div class="top_box">
                    <div class="top_bar">
                        <ul>
                            <li class="home_i"><img src="/static/images/home.png" alt=""></li>
                            <li>><span>자료 검색</span></li>
                        </ul>
                    </div>
                    <div class="ssss">
                        <div class="main-box"> 
                            <div class="page-title-area">
                                <h2 class="tit"><img src="/static/images/Title_logo.png" alt=""> 자료 검색</h2>
                            </div>
                             <div class="search-wrap">
                                <div class="form-ares">
                                    <input type="search" id="keyword" title="검색어 입력" placeholder="어떤 도서를 찾으시나요?" class="search-input" >
                                    <select class="search_Details" name ="select">
                                        <option  value="none" class="option">== 상세검색 == </option>
                                        <option value="bookname" class="option">도서 제목</option>
                                        <option value="author" class="option">저자</option>
                                    </select>
                                    <button type="button" class="btn-search" id="btn-search-main"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                             </div>
                             <div class="col-table">
                                 <table>
                                     <colgroup class="just-pc">
                                        <col style="width: 100px;">
                                        <col style="width: 300px;">
                                        <col style="width: 150px;">
                                        <col style="width: 200px;">
                                    </colgroup>
                                     <thead>
                                         <tr>
                                             <th scope="col">No.</th>
                                             <th scope="col">제목</th>
                                             <th scope="col">저자</th>
                                             <th scope="col">출판사</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         <tr class="notice">
                                             <td class="just-pc">1</td>
                                             <td class="a-1">클린코드</td>
                                             <td>로버트 C. 마틴</td>
                                             <td>인사이트</td>
                                            
                                         </tr>
        
                                               
                                     </tbody>
                                 </table>
                             </div>
                             <div class= "aaa">
                    
                             </div>
                             <div class="pagination">
                                
                            </div>
                        
                         </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!--하단-->
<th:block th:replace="/all/footer"></th:block>  
    </div>
           <script type="text/javascript" src="/static/js/book/bookselect.js"></script>                                 
</body>
</html>
