<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/all/head"></th:block>
    <title>비밀번호변경</title>
    <link rel="stylesheet" href="/static/css/user/changePassword.css">
</head>
<body>
    <div id="container">
        <!--상단-->
<th:block th:replace="/all/header"></th:block> 
        
        <!--메인이미지-->
        <div class="main_img">
            <img src="/static/images/wood-2045379_1920.jpg" alt="">
            <div class="menu">
                <h2>마이페이지</h2>
            </div>
        </div>
        <!--메인-->
        <section id="main">
            <div class="main_all">
                <div class="main_h">
                    <div class="select_bar">
                        <ul>
                            <li><a href="/auth/login"><span>마이페이지</span></a></li>
                            <li><a href="/user/mypage">회원정보수정</a></li>
                            <li><a href="/user/rePassword" class="focus">비밀번호변경</a></li>
                            <li><a href="/user/userRemove">회원탈퇴</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main_m">
                    <div class="top_box">
                        <div class="top_bar">
                            <ul>
                                <li class="home_i"><img src="/static/images/home.png" alt=""></li>
                                <li>><span>마이페이지</span></li>
                                <li>>><span>비밀번호변경</span></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                    <div class="main_title">
                        <h3>비밀번호변경</h3>
                    </div>
                    </div>
                    <div class="contents">
                        <div class="password_table">
                            <table>
                                <tr>
                                    <th><p>현재 비밀번호</p></th>
                                    <td><input type="password" class="pwdInput"></td>
                                </tr>
                                <tr>
                                    <th><p>새 비밀번호</p></th>
                                    <td><input type="password" class="pwdInput"></td>
                                </tr>
                                <tr>
                                    <th><p>새 비밀번호 확인</p></th>
                                    <td><input type="password" class="pwdInput"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="contents_btn">
                            <button class="btn" type="button">변경</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--하단-->
 <th:block th:replace="/all/footer"></th:block>  
    </div>
    <script type="text/javascript" src="/static/js/user/changePassword.js"></script>
</body>
</html>