<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="/all/head"></th:block>
    <title>회원정보수정</title>
    <link rel="stylesheet" href="/static/css/user/mypage.css">
</head>
<body>
    <div id="container">
        <!--상단-->
<th:block th:replace="/all/header"></th:block> 
        <!--메인이미지-->
        <div class="main_img">
            <img src="/static/images/wood-2045379_1920.jpg" alt="">
            <div class="menu">
                <h2>마이페이지</h2>
            </div>
        </div>
        <!--메인-->
        <section id="main">
            <div class="main_all">
                <div class="main_h">
                    <div class="select_bar">
                        <ul>
                            <li><a href="/auth/login"><span>마이페이지</span></a></li>
                            <li><a href="/user/mypage" class="focus">회원정보수정</a></li>
                            <li><a href="/user/changePassword">비밀번호변경</a></li>
                            <li><a href="/user/userRemove">회원탈퇴</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main_m">
                    <div class="top_box">
                        <div class="top_bar">
                            <ul>
                                <li class="home_i"><img src="/static/images/home.png" alt=""></li>
                                <li>><span>마이페이지</span></li>
                                <li>>><span>회원정보수정</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="main_title">
                        <h3>회원정보수정</h3>
                    </div>
                    <div class="contents">
                        <div class="main_table">
                            <table>
                                <tr class="tr1">
                                    <th class="first_th">아이디</th>
                                    <td class="first_tr">
                                        <div class="id_input">
                                            <input type="text" class="input-box" readonly>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="tr4">
                                    <th>이름</th>
                                    <td class="name_input"><input type="text" class="input-box" readonly></td>
                                </tr>
                                <tr class="tr5">
                                    <th>성별</th>
                                    <td class="gender_input" >
                                        <input type="text" class="input-box" readonly>
                                    </td>
                                </tr>
                                <tr class="tr6">
                                    <th>생년월일</th>
                                    <td class="year_input"><input type="text" class="input-box" readonly></td>
                                </tr>
                                <tr class="tr7">
                                    <th>휴대폰번호</th>
                                    <td>
                                        <div class="tel_input">
                                            <input type="tel" class="tel input-box">
                                        </div>
                                        <div class="tel_input_text">
                                            <p>* 010-0000-0000 형식으로 넣어주세요.
                                            <br>* 입력한 휴대폰 번호로 반납 및 연체문자가 수신됩니다.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="tr8">
                                    <th>주소</th>
                                    <td>
                                        <div class="address_input">
                                            <input type="text" id="sample6_postcode" class="input-box" placeholder="우편번호" readonly>
                                            <button type="button" class="addressBtn">우편번호 찾기</button>
                                        </div>
                                        <div class="adress_input2">
                                            <input type="text" id="sample6_address" class="input-box"  placeholder="주소" readonly>
                                            <input type="text" id="sample6_detailAddress" class="input-box"  placeholder="상세주소">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="tr9">
                                    <th>이메일</th>
                                    <td>
                                        <div class="email_input">
                                            <input type="text" class="input_mbox">
                                            <span>@</span>
                                            <input type="text" class="input_mbox">
                                            <select name="selet" id="email_select" class="input_box_email">
                                                <option value="write">--직접입력--</option>
                                                <option value="naver">naver.com</option>
                                                <option value="daum">hanmail.net</option>
                                                <option value="kakao">kakao.com</option>
                                                <option value="gmail">gmail.com</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="submit_btn">
                                <button type="button" class="btn_ok">저장</button>
                                <button class="btn_no"><a href="/user/mypage">취소</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--하단-->
 <th:block th:replace="/all/footer"></th:block> 
 <script type="text/javascript" src="/static/js/user/mypage.js"></script>
 <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> 
    </div>
</body>
</html>