<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="/all/head"></th:block>
    <title>이용약관페이지</title>
    <link rel="stylesheet" href="/static/css/user/userTermsCheck.css">
</head>
<body>
    <div id="container">

        <!-- 상단 -->
<th:block th:replace="/all/header"></th:block> 
        
        <div class="main_img">
            <img src="/static/images/wood-2045379_1920.jpg" alt="">
            <div class="menu">
                <h2>회원</h2>
            </div>
        </div>

        <!-- 메인 -->
        <section id="main">
            <div class="main_all">

                <div class="select_bar"> <!--280 640-->
                    <ul>
                        <li><a href="#"><span>로그인</span></a></li>
                        <li><a href="#">회원가입</a></li>
                        <li><a href="#">아이디찾기</a></li>
                        <li><a href="#">비밀번호찾기</a></li>
                    </ul>
                </div>
                <div class="main_m">
                    <div class="top_box">
                        <div class="top_bar">
                            <ul>
                                <li class="home_i"><img src="/static/images/home.png" alt=""></li>
                                <li>><span>로그인</span></li>
                                <li>>><span>회원가입</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="main_title"> <!-- 983 67-->
                        <h3>회원가입</h3>
                    </div>

                    <div class="main_step">
                        <ul>
                            <li><img src="/static/images/users.png" alt=""><span>회원유형확인</span></li>
                            <li><span>></span></li>
                            <li><img src="/static/images/edit.png" alt=""><span>이용약관동의</span></li>
                            <li><span>></span></li> 
                            <li><img src="/static/images/portrait.png" alt=""><span>본인확인</span></li>
                            <li><span>></span></li>
                            <li><img src="/static/images/document-signed.png" alt=""><span>정보입력</span></li>
                        </ul>
                    </div>
                    <div class="main_box">
                        <h4>▶ 이용약관</h4>
                        <div class="box1">
                            <p>
                                <b>제1장 총칙</b> <br><br>
                                <b>제1조 (목적)</b> <br> 
                                이 약관은 공공도서관(이하 ‘도서관’이라 한다)을 통해서 제공하는 각종 도서관 통합관리시스템 회원서비스를 이용함에 있어 이용자와 <br> 
                                도서관간의 권리·의무 및 책임사항과 기타 필요한 사항에 대해 규정함을 목적으로 한다. <br><br>
                                
                                <b>제2조 (용어의 정의)</b> <br>
                                ① 이 약관에서 사용하는 용어의 정의는 다음과 같다. <br>
                                1. 서비스 : 온라인 도서관 통합시스템에서 제공하는 서비스 <br>
                                2. 사이트 : 도서관시스템을 효율적으로 사용하기위해 운영하는 홈페이지 <br>
                                3. 가 입 : 사이트가 제공하는 신청서 양식에 해당 정보를 기입하고, 본 약관에 동의하여 서비스 이용계약을 완료시키는 행위 <br>
                                4. 도서관회원 : 도서관 통합관리시스템 회원 가입에 동의하고 본인확인절차를 통해 회원번호 부여 및 회원카드가 발급된 회원 <br>
                                5. 아이디(ID) : 회원 식별과 서비스 이용을 위하여 이용자가 생성한 영문자 또는 기타 문자로 조합된 부호 <br>
                                6. 비밀번호(PASSWORD) : 회원의 정보 보호를 위해 이용자 자신이 설정한 문자와 숫자, 특수문자 등으로 조합된 부호 <br>
                                7. 탈퇴 : 회원이 서비스 이용계약을 종료시키는 의사표시 <br>
                                ② 이 약관에서 사용하는 용어의 정의는 제1항에서 정하는 것을 제외하고는 관계 법령 및 서비스 별 안내에서 정하는 바에 의한다. <br><br>
                                
                                
                                <b>제3조 (약관의 효력 및 변경)</b> <br>
                                ① 이 약관은 서비스 화면에 게시하거나 기타의 방법으로 이용자에게 공시되며, <br>
                                &nbsp&nbsp&nbsp&nbsp이를 동의한 이용자가 서비스에 가입함으로써 효력이 발생한다. <br>
                                ② 합리적인 사유가 발생할 경우 관리자는 관련 법령에 위배되지 않는 범위 안에서 개정할 수 있다. <br> 
                                &nbsp&nbsp&nbsp&nbsp개정된 약관은 사이트 등을 통해 공지함으로써 효력이 발생한다. <br>
                                ③ 회원은 정기적으로 사이트를 방문하여 약관의 변경사항을 확인하여야 하며 회원은 변경된 약관에 동의하지 않을 경우 회원 탈퇴 <br>
                                &nbsp&nbsp&nbsp&nbsp(해지)를 요청할 수 있다. 변경된 약관에 대한 정보를 알지 못해 발생하는 회원의 피해는 관리자측에서 책임지지 않는다. <br>
                                ④ 관리자는 필요한 경우 개별 서비스에 대하여 이용규정을 정할 수 있으며, <br> 
                                &nbsp&nbsp&nbsp&nbsp이 약관과 서로 상충되는 경우에는 서비스별 이용규정의 내용을 우선하여 적용한다. <br>
                                ⑤ 이 약관에 명시되지 않은 사항에 대해서는 관련 법령의 규정에 따른다. <br><br><br>
                                
                                
                                <b>제2장 서비스 이용</b> <br><br> 
                                
                                <b>제4조 (회원가입)</b> <br> 
                                ① 이용신청은 이용자의 약관내용 및 개인정보 제공에 대한 <br>
                                &nbsp&nbsp&nbsp&nbsp동의, 회원가입신청과 도서관의 승인 등으로 이루어진다. <br>
                                ② 관리자는 다음 각 호에 해당하는 경우에 대하여는 회원 가입을 취소할 수 있다. <br>
                                1. 본인의 실명으로 신청하지 않았을 때 <br>
                                2. 다른 사람의 명의를 도용하여 신청하였을 때 <br>
                                3. 만 14세 미만 아동이 법정대리인(부모 등)의 동의를 얻지 아니한 경우 <br>
                                4. 사회의 안녕 질서 또는 미풍양속을 저해할 목적으로 신청하였을 때 <br>
                                5. 기타 도서관이 정한 신청 요건이 미비 되었을 때 <br><br>
                                
                                <b>제5조 (회원정보 관리)</b> <br>
                                ① 회원은 홈페이지 회원정보관리 및 도서관에 직접 방문하여 정보를 열람하고 수정할 수 있다. <br> 
                                &nbsp&nbsp&nbsp&nbsp회원은 이용신청 시 기재한 사항이 변경된 경우에는 수정을 하여야 하며, <br>
                                &nbsp&nbsp&nbsp&nbsp수정하지 아니하여 발생하는 문제의 책임은 회원에게 있다. <br>
                                ② 회원 아이디 및 비밀번호의 관리책임은 회원에게 있다. <br> 
                                &nbsp&nbsp&nbsp&nbsp이를 소홀히 관리하여 발생하는 서비스 이용 상의 손해 또는 제3자에 의한 부정 이용 등에 대한 <br> 
                                &nbsp&nbsp&nbsp&nbsp책임은 모두 회원에게 있으며 도서관은 그에 대해 책임지지 않는다. <br>
                                ③ 회원은 사이트 접속 종료 시 로그아웃을 해야 하며 본인의 승인 없이 <br> 
                                &nbsp&nbsp&nbsp&nbsp아이디, 비밀번호가 사용되는 문제가 발생되면 즉시 관리자에게 신고하여야 한다. <br><br>
                                
                                <b>제6조 (회원탈퇴 및 이용제한)</b> <br>
                                ① 회원이 이용계약을 해지하고자 할 때에는 본인이 직접 홈페이지를 통해 탈퇴 신청을 한다. <br>
                                &nbsp&nbsp&nbsp&nbsp다만, 자료대출 중이거나 대출정지중인 사람은 탈퇴할 수 없다. <br>
                                ② 다음 각 호에 해당되는 경우에는 자격이 상실된다. <br>
                                1. 자료의 분실, 훼손, 장기연체(1년 이상)에 책임을 지지 않는 경우 <br>
                                2. 홈페이지 가입 시 고의로 사실과 다르게 가입내용을 작성한 경우 <br>
                                3. 그 밖에 관리자가 인정한 경우 <br>
                                ③ 본인인증 후 2년 이내 개인정보 재동의를 하지 않은 경우는 1년간 자격이 정지되며, 기간 중 재동의 시 자격이 회복된다. <br>
                                &nbsp&nbsp&nbsp&nbsp단, 자격 정지 기간 경과 후 즉시 상실된다. <br>
                                ④ 자격상실 및 정지, 탈퇴에 관한 사항은 참여도서관에서 할 수 있으며, 모든 참여도서관에 적용된다. <br> 
                                &nbsp&nbsp&nbsp&nbsp회원탈퇴 시 해당 개인정보는 보유기간이 만료되므로 회원과 관련된 모든 정보는 삭제된다. <br>
                                ⑤ 관리자는 보안 및 아이디 정책, 서비스의 원활한 제공 등과 같은 이유로 회원 아이디 및 비밀번호 변경을 요구할 수 있다. <br>
                                ⑥ 아래의 경우 관리자는 회원 가입을 취소할 수 있다. <br>
                                1. 타인의 서비스 아이디 및 비밀번호를 도용한 경우 <br>
                                2. 타인의 명예를 손상시키거나 불이익을 주는 경우 <br>
                                3. 같은 사용자가 다른 아이디로 이중 등록을 한 경우 <br>
                                4. 서비스에 위해를 가하는 등 서비스의 건전한 이용을 저해하는 경우 <br>
                                5. 기타 관련 법령이나 관리자가 정한 이용조건에 위배되는 경우 <br><br>
                                
                                <b>제7조 (서비스 이용 및 변경)</b> <br>
                                ① 관리자는 회원의 이용신청을 승낙한 때부터 서비스를 개시한다. 단, 일부 서비스의 경우에는 지정된 날짜부터 서비스를 개시할 수 있다. <br>
                                ② 업무상 또는 기술상의 장애로 인하여 서비스를 개시하지 못하는 경우에는 사이트에 공지하거나 회원에게 이를 통지한다. <br>
                                ③ 관리자는 정책 및 운영의 필요에 따라 서비스의 일부 또는 전부를 수정, 중단, 변경할 수 있으며, 사전에 7일 이상 사이트 등을 통해 공지한다. <br><br>
                                
                                <b>제8조 (정보의 제공)</b> <br>
                                회원에게 서비스 이용 중 필요가 있다고 인정되는 다양한 정보에 대해서는 전자우편 및 휴대폰 문자메시지 등의 방법으로 제공할 수 있다. <br>
                                &nbsp&nbsp&nbsp&nbsp다만, 회원은 정보수신을 원치 않을 경우에는 이를 거부할 수 있다. <br><br><br>
                                
                                
                                <b>제3장 기타</b> <br><br> 
                                
                                <b>제9조 (양도금지)</b> <br>
                                회원은 서비스의 이용권한, 기타 이용계약상의 지위를 타인에게 양도, 증여할 수 없다. <br><br>
                                
                                <b>제10조 (면책조항)</b> <br> 
                                ① 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제된다. <br>
                                ② 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 관리자는 책임지지 않는다. <br><br><br>
                                
                                
                                <b><부 칙></b> <br>
                                본 약관은 20XX년 X월 XX일부터 적용한다. <br>
                            </p>
                        </div>
                        <div class="box_check">
                            <input type="checkbox"><span>이용약관에 동의합니다.</span>
                        </div>
                        <h4>▶ 개인정보 수집‧이용 및 제공 동의</h4>
                        <div class="box2">
                            <p>도서관 관리시스템 가입을 위하여 아래와 같이 개인정보를 수집·이용합니다.</p>
                            <b>개인정보 수집 및 공동이용 내역</b> <br><br>
                            <table class="box2_table">
                                <tr class="first_table">
                                    <th class="table1">항목</th>
                                    <th class="table2">수집목적</th>
                                    <th class="table3">보유기간</th>
                                </tr>
                                <tr class="second_table">
                                    <td class="table1">
                                        아이디, 비밀번호, 도서회원번호, 성명, 생년월일, 성별, 휴대폰번호, 주소, 이메일 본인확인코드, 도서대출내역, 대리인성명 및 연락처(만 14세 미만 및 대리인 지정 시)
                                    </td>
                                    <td class="table2">도서대출 및 반납 등 도서관 서비스</td>
                                    <td class="table3">회원 탈퇴시까지</td>
                                </tr>
                            </table>
                            <br>
                            <p>개인정보의 수집·이용목적에 대한 동의를 거부할 수 있으며, 동의를 거부할 경우 회원가입이 되지 않으며, <br> 
                                시스템에서 제공하는 서비스 이용에 제한이 있을 수 있습니다.</p>
                        </div>
                        <div class="box_check">
                            <input type="checkbox"><span>개인정보 수집‧이용 및 제공 동의에 동의합니다.</span>
                        </div>
                        <div class="all_check" >
                            <input type="checkbox"><span>모든 약관에 동의합니다.</span>
                        </div>
                        <div class="box_btn">
                            <button class="box_btn1">동의합니다</button>
                            <button class="box_btn2">동의하지않습니다</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 하단 -->
<th:block th:replace="/all/footer"></th:block>  

    </div>
</body>
</html>